.admin {
  .naslovna {
    content: "";
    width: 100%;
    height: 282px;
    background-color: var(--naslovna);
  }

  .profile_pic {
    content: "";
    width: 124px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    top: -40px;
    left: 30px;
    border: 6px solid var(--white);
    margin-top: -20px;
    margin-left: 20px ;
  }

  h1 {
    font-weight: bold;
    font-size: 30px;
    color: var(--primary-color);
  }

  ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    li {
        font-size: 16px;
        font-weight: medium;
        color: var(--primary-color);
    }
  }
}

@media (max-width: 768px) {
  .admin {
    ul {
      justify-content: center;
    }
    .naslovna {
      height: 150px;
    }
    .profile_pic {
      margin-top: -100px;
      margin-left: 0px ;
  }
  }
}
